@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

/*::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}*/

*{
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */
    /* scroll-behavior: smooth; */
    
   
}

body {
    width: 100%;
    max-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}



/* ---------------------------------------- PARTIE PRELOADER ----------------------------------------------*/

.preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 20;
    overflow: hidden;
    
}


.preloader-bg {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.preloader-txt {
    position: absolute;
    color: #FFFFFF;
    z-index: 99;
    /* background-color: #580302; */
    font-family: 'Amiri';
    color: #C89C12;
    font-weight: 900;
    font-size: 90px;
    top: 47vh;
    left: 37vw;
    
    
}

.l-preloader , .r-preloader {
    width:  50vw;
}

.l-preloader {
    background-color:#580302;
    transform: translate(0vw);
}

.r-preloader {
    background-color: #580302;
    transform: translate(0vw);
}

/* ---------------------------------------- PARTIE HOME ----------------------------------------------*/

.home{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.home-bg {
    background-image: url(assets/bg/homepage-bg.JPG);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-size: cover;
}

/* ---------------------------------------- PARTIE MENU ----------------------------------------------*/


.navbar-menu {
    display: flex;
    /* width: 100%; */
    position: fixed;
    z-index: 10;
}

.navbar {
    width: 50px;
    height: 100vh;
    display: block;
    background-color: #00000080;
    padding: 10px;
}

.navbar h1 {
    transform: rotate(-90deg);
    /* margin-top: 44vh; */
    position: absolute;
    top: 45vh;
    left: -4.8vh;
    /* width: calc(79.30556vh - 3.30729vw); */
    width: 150px;
    color: #C89C12;
    /* text-transform: uppercase; */

}

.burger-menu-btn {
    background: none;
    border: none;
    text-align: center;
    outline: none;
    animation-duration: 1s;
    transition: all 0.3s ease-in-out;
    margin-left: 0.5vh;
    /* background-color: red; */
    
}

.burger-menu-btn span {
  background : #C89C12;
  width: 30px;
  height: 3px;
  display: block;
  margin-bottom: 5px;
  
  
}

.menu {
    width: 0%;
    height: 100vh;
    background-color: #00000080;
    display: none;
}

.menu-li {
    color: #C89C12;
    font-size: 8rem;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Bellota Text', cursive;
    font-weight: 900;
    transform: translateY(15vh);
    opacity: 0;
}


.progress-bar {
    background-color:  #C89C12;;
    height: 100vh;
    width: 3px;
}

.menu-content {
    margin: 40px;
    
}

#h1-navbar{
    font-family: 'Bellota Text', cursive;
    font-size: 25px;
    opacity: 1;
}

.burger-menu-btn.open {
    transform: rotate(90deg);
}


.home img {
    width: 100vw;
}

/* ########### SCROLL ########### */


/* ########### SECTION HISTOIRE ########### */

.history {
    display: inline;
    position: absolute;
    top: 0;
    left: 300vw;
}

.s3-hist {
    display: inline-flex;
    height: 100vh;
}

.s3-hist .title {
    display: flex;
    background-color: black;
    width: 40vw;
    align-items: center;
}

.s3-hist h2 {
    padding-left: 5vw;
    font: 250px/200px Bellota Text;
    text-align: center;
    font-weight: 100;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: -11px -9px #3E3E3E;
}

.hist-bg {
    display: flex;
    background-image: url(assets/bg/Paris_Oper_um_1900.jpg);
    background-position: center;
    background-size: cover;
    width: 90vw;
    filter: grayscale(0.6);
}

/* frise chronologique */

.s3-date {
    display: inline-flex;
    height: 100vh;
    width: 600%;
    position: absolute;
    left: 130vw;
    top: 0;
}

.s3-date .sect-date {
    display: inline-flex;
    width: 100vw;
}

.s3-date .date{
    display: flex;
    background-color: #C89C12;
    height: 100vh;
    width: 220px;
    z-index: 2;
}

.s3-date .date h2 {
    font: 160px/200px Bellota Text;
    font-weight: 100;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: white;
    position: relative;
    overflow: hidden;
    margin-bottom: 5vh;
}

.s3-date .date-bg {
    display: flex;
    height: 100vh;
    position: relative;
}

.date-bg img#bg-img-date  {
    object-fit: cover;
    position: relative;
    opacity: 50%;
    width: 100vw;
}

.date-bg .period {
    position: absolute;
    font: 30px/43px Amiri;
    margin-top: 80vh;
    margin-left: 8vw;
    text-align: end;
    color: white;
}

.date-bg .period .txt {
    position: relative;
}

.date-bg .period h2 {
    letter-spacing: 4px;
    color: #02020278;;
    text-shadow: 1px 1px #8e8481;
}

#date-red .date {
    background-color: #730402;
}

#date-red .period h2 {
    color: #730402;
}

/* wrapper img */

#wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    position: absolute;
    width: 100vh;
    height: 90vw;
}

#wrp-img {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    white-space: nowrap;
    padding-top: 7vh;
}

#wrapper .box-img {
    width: 60vw;
    height: 60vh;
    display: inline-block;
    position: relative;
    margin: 10px;
    margin-right: 10vw;
}

#wrapper .box-img img{
    height: 60vh;
    position: absolute;
    box-shadow: 8px 9px 13px 0px #0000004a;
}

#blank {
    width: 100vw !important;
    margin-right: 0 !important;
}

/* 1861 */
#OpC1 {
    width: 344px !important;
}

#OpC2 {
    width: 604px !important;
}

#OpC3 {
    width: 687px !important;
}

#OpC4 {
    width: 680px !important;
}

/* 1875 */
#OpI1 {
    width: 700px !important;
}

#OpI2 {
    width: 363px !important;
}

#OpI3 {
    width: 346px !important;
}

#OpI4 {
    width: 680px !important;
}

#OpI5 {
    width: 430px !important;
}

/* 1900 */
#OpPS1 {
    width: 693px !important;
}

#OpPS2 {
    width: 692px !important;
}

#OpPS3 {
    width: 636px !important;
}

#OpPS4 {
    width: 480px !important;
}

/* 1940 */
#OpO1 {
    width: 825px !important;
}

#OpO2 {
    width: 338px !important;
}

#OpO3 {
    width: 850px !important;
}

/* 1950 */
#OpT1 {
    width: 364px !important;
}

#OpT2 {
    width: 646px !important;
}

#OpT3 {
    width: 705px !important;
}

#OpT4 {
    width: 420px !important;
}

/* 2000 */
#OpN1 {
    width: 822px !important;
}

#OpN2 {
    width: 694px !important;
}

#OpN3 {
    width: 331px !important;
}

#OpN4 {
    width: 350px !important;
}

/* ---------------------------------------- PARTIE CREDITS ----------------------------------------------*/

.img-opera{
    position: absolute;
    top: 0;
    left: 1135vw;
    height: 100vh;
    width: 50vw;
    background-image: url(assets/bg/steven-lasry-hFysDVSzi8M-unsplash.jpg);
    background-size: cover;
    overflow: hidden;
}

.credits{
    position: absolute;
    top: 0;
    left: 1183vw;
    height: 100vh;
    width: 100vw;
    background-color: #0C0C0C;
}


.cred-title{
    height: 100vh;
    display:flex;
    align-items:center;
    cursor: default;
}

.cred-title-h{
    font-family: 'Bellota Text', cursive;
    font-size: 130px;
    color: white;
    writing-mode: vertical-lr;
    transform:rotate(-180deg);
    text-shadow: 0.1em -0.05em rgba(255, 255, 255, 0.3);
    margin-left: 70px;
}

.cred-box{
    position: absolute;
    top: 10%;
    left: 45%;
    height: 200px;
    width: 350px;
    background-color: #580302;
    box-shadow: -10px -10px #AA151B;
}

.cred-box-content{
    font-family: 'Bellota Text', cursive;
    color: white;
    font-size: 19px;
    padding: 20px 20px;
}

.cred-link{
    position: absolute;
    bottom: 10%;
    left: 25%;
    width: 850px;
    height: 300px;
    font-family: 'Bellota Text', cursive;
    color: white;
}

.cred-link-title{
    text-align: center;
    font-size: 35px;
}

.cred-link-dev{
    z-index: 2;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.cred-link-href{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.cred-link-name{
    font-size: 25px;
}


.cred-link-trait-one{
    position: absolute;
    top: 30%;
    left: 35%;
    height: 150px;
    width: 2px;
    background-color: #C5171B;
}

.cred-link-trait-two{
    position: absolute;
    top: 30%;
    left: 67%;
    height: 150px;
    width: 2px;
    background-color: #C5171B;
}


/* ---------------------------------------- PARTIE CHIFFRES ----------------------------------------------*/

/* PARTIE 1 */


.num-partOne{
    position: absolute;
    display: flex;
    top: 0;
    left: 100vw;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    overflow: hidden;
    
}

.num-title-h {
    z-index: 1;
}

.num-section-bg {
    background-image: url(assets/gallery/escalier.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    transform: scale(2);
    transition: transform 0.8s;
}

.num-title{
    height: 100vh;
    display:flex;
    align-items:center;
    cursor: default;
}

.num-title-h{
    margin-left: 70px;
    font-family: 'Bellota Text', cursive;
    font-size: 130px;
    color: white;
    writing-mode: vertical-lr;
    transform:rotate(-180deg);
    text-shadow: 0.1em -0.1em rgba(255, 255, 255, 0.3);
}



/* PARTIE 2 */

.num-partTwo{
    display: flex;
    height: 100vh;
    transition: transform 8s;

}

.num-arrow{
    z-index: 3;
    display: flex;
    position: absolute;
    height: 100vh;
    width: 80vw;
    top: 0;
    left: 150vw;
}

.num-square{
    z-index: 1;
    display: inline-block;
    height: 0;
    width: 0;
    border-top    : 50vh solid transparent;
    border-bottom : 50vh solid transparent;
    border-right  : 256px solid #730402;
}

.num-square-two{
    z-index: 2;
    display: inline-block;
    height: 100vh;
    width: 300px;
    top: 0;
    left: 20%;
    background-color: #730402;
}

.num-square-three{
    z-index: 2;
    display: inline-block;
    height: 100vh;
    width: 50vw;
    background-color: #730402;
}

.num-square-img{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 202vw;
    height: 100vh;
    width: 100vw;
    background-image: url(assets/gallery/oiuepp7bbx9vnleozxtv.jpg);
    background-size: cover;
}


/* PARTIE TEXTE */

.num-visitor{
    z-index: 5;
    position: absolute;
    font-family: 'Bellota Text', cursive;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
    color: white;
    top: 10%;
    left: 120vw;
    height: 200px;
    width: 400px;
}

.num-employees{
    z-index: 5;
    position: absolute;
    font-family: 'Bellota Text', cursive;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
    color: white;
    bottom: 10%;
    left: 120vw;
    height: 200px;
    width: 400px;
}

.num-age{
    z-index: 6;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 20px;
    font-family: 'Bellota Text', cursive;
    line-height: 70px;
    font-size: 50px;
    color: white;
    height: 300px;
    width: 500px;
}

.num-representation{
    z-index: 2;
    position: absolute;
    font-family: 'Bellota Text', cursive;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
    color: white;
    top: 10%;
    left: 45vw;
    height: 200px;
    width: 400px;
}

.num-filling{
    z-index: 2;
    position: absolute;
    font-family: 'Bellota Text', cursive;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
    color: white;
    bottom: 10%;
    left: 45vw;
    height: 210px;
    width: 400px;
}



/* ---------------------------------------- PARTIE GALLERY ----------------------------------------------*/

.galery {
    position: absolute;
    top:0;
    left: 1040vw;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(115,4,2,1) 0%, rgba(82,3,2,1) 100%);
    width: 100vw;
    height: 100vh;
    
}

.draggableImg  {
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 10vw;
    top: 3vh;
    /* top: 50vw; */

  }
.galery img { 
      width: 30vw;
  }

  #draggableImg2 img {
      width: 30vw;
  }

  
  #mydivheader {
    padding: 1px;
    cursor: move;
    z-index: 10;
  }