@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    scroll-behavior: smooth;
   
}

body {
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}


/* ########### SECTION HISTOIRE ########### */

.history {
    display: inline;
}

.s3-hist {
    display: inline-flex;
    height: 100vh;
}

.s3-hist .title {
    display: flex;
    background-color: black;
    width: 40vw;
    align-items: center;
}

.s3-hist h2 {
    font: 250px/200px Bellota Text;
    text-align: center;
    font-weight: 100;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: -11px -9px #3E3E3E;
}

.hist-bg {
    display: flex;
    background-image: url(assets/bg/Paris_Oper_um_1900.jpg);
    background-position: center;
    background-size: cover;
    width: 90vw;
    filter: grayscale(0.6);
}

/* frise chronologique */

.s3-date {
    display: inline-flex;
    height: 100vh;
    width: 600%;
}

.s3-date .sect-date {
    display: inline-flex;
    width: 200%;
}

.s3-date .date{
    display: flex;
    background-color: #C89C12;
    height: 100vh;
    width: 220px;
}

.s3-date .date h2 {
    font: 160px/200px Bellota Text;
    font-weight: 100;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: white;
    position: relative;
    overflow: hidden;
    margin-bottom: 5vh;
}

.s3-date .date-bg {
    display: flex;
    height: 100vh;
    position: relative;
}

.date-bg img {
    object-fit: cover;
    position: relative;
    opacity: 50%;
    width: 100vw;
}

.date-bg .period {
    position: absolute;
    font: 30px/43px Amiri;
    margin-top: 80vh;
    margin-left: 8vw;
    text-align: end;
    color: white;
}

.date-bg .period .txt {
    position: relative;
}

.date-bg .period h2 {
    letter-spacing: 2px;
    color: #02020278;;
    text-shadow: 1px 1px #8e8481;
}

#date-red .date {
    background-color: #730402;
}

#date-red .period h2 {
    color: #730402;
}


/* ---------------------------------------- PARTIE CHIFFRES ----------------------------------------------*/

/* PARTIE 1 */

.num-partOne{
    height: 100vh;
    width: 900px;
    background-image: url(assets/gallery/escalier.png);
    background-size: cover;
}
.num-title{
    height: 100vh;
    display:flex;
    align-items:center;
    cursor: default;
}

.num-title-h{
    font-family: 'Bellota Text', cursive;
    font-size: 130px;
    color: white;
    writing-mode: vertical-lr;
    transform:rotate(-180deg);
    text-shadow: 0.1em -0.1em rgba(255, 255, 255, 0.3);
}



/* PARTIE 2 */

.num-partTwo{
    height: 100vh;
    
}

.num-square{
    position: absolute;
    top: 0px;
    left: 650px;
    height: 0;
    width: 0;
    border-top    : 50vh solid transparent;
    border-bottom : 50vh solid transparent;
    border-right  : 250px solid #730402;
}

.num-square-two{
    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    left: 900px;
    background-color: #730402;
}

.num-square-three{
    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 600px;
    top: 0;
    left: 1150px;
    background-color: #730402;

}

.num-square-img{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 1450px;
    height: 100vh;
    width: 100%;
    background-image: url(assets/gallery/oiuepp7bbx9vnleozxtv.jpg);
    background-size: cover;
}


/* PARTIE TEXTE */

.num-visitor{
    position: absolute;
    font-family: 'Bellota Text', cursive;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
    color: white;
    top: 10%;
    left: 20%;
    height: 200px;
    width: 400px;
}

.num-employees{
    position: absolute;
    font-family: 'Bellota Text', cursive;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
    color: white;
    bottom: 10%;
    left: 20%;
    height: 200px;
    width: 400px;
}

.num-age{
    z-index: 2;
    position: absolute;
    font-family: 'Bellota Text', cursive;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
    color: white;
    top: 35vh;
    left: 60%;
    height: 200px;
    width: 400px;
}

.num-representation{
    z-index: 2;
    position: absolute;
    font-family: 'Bellota Text', cursive;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
    color: white;
    top: 10%;
    left: 100%;
    height: 200px;
    width: 400px;
}

.num-filling{
    z-index: 2;
    position: absolute;
    font-family: 'Bellota Text', cursive;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
    color: white;
    bottom: 10%;
    left: 100%;
    height: 210px;
    width: 400px;
}

/* ---------------------------------------- PARTIE CREDITS ----------------------------------------------*/

.credits{
    position: absolute;
    top: 0;
    left: 2800px;
    height: 100vh;
    width: 100vw;
    background-color: #0C0C0C;
}

.cred-title{
    height: 100vh;
    display:flex;
    align-items:center;
    cursor: default;
}

.cred-title-h{
    font-family: 'Bellota Text', cursive;
    font-size: 130px;
    color: white;
    writing-mode: vertical-lr;
    transform:rotate(-180deg);
    text-shadow: 0.1em -0.05em rgba(255, 255, 255, 0.3);
}

.cred-box{
    position: absolute;
    top: 10%;
    left: 45%;
    height: 200px;
    width: 350px;
    background-color: #580302;
    box-shadow: -10px -10px #AA151B;
}

.cred-box-content{
    font-family: 'Bellota Text', cursive;
    color: white;
    font-size: 17px;
    padding: 20px 20px;
}

.cred-link{
    position: absolute;
    bottom: 10%;
    left: 25%;
    width: 850px;
    height: 300px;
    font-family: 'Bellota Text', cursive;
    color: white;
}

.cred-link-title{
    text-align: center;
    font-size: 35px;
}

.cred-link-dev{
    z-index: 2;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.cred-link-href{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.cred-link-name{
    font-size: 25px;
}


.cred-link-trait-one{
    position: absolute;
    top: 30%;
    left: 35%;
    height: 150px;
    width: 2px;
    background-color: #C5171B;
}

.cred-link-trait-two{
    position: absolute;
    top: 30%;
    left: 67%;
    height: 150px;
    width: 2px;
    background-color: #C5171B;
}

