@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

a{
    text-decoration: none;
    color: white;
}


/* ---------------------------------------- PARTIE CHIFFRES ----------------------------------------------*/

body{
    width: 4200px;
}

/* PARTIE 1 */

.num-partOne{
    height: 100vh;
    width: 900px;
    background-image: url(assets/gallery/escalier.png);
    background-size: cover;
}
.num-title{
    height: 100vh;
    display:flex;
    align-items:center;
    cursor: default;
}

.num-title-h{
    font-family: 'Bellota Text', cursive;
    font-size: 130px;
    color: white;
    writing-mode: vertical-lr;
    transform:rotate(-180deg);
    text-shadow: 0.1em -0.1em rgba(255, 255, 255, 0.3);
}



/* PARTIE 2 */

.num-partTwo{
    height: 100vh;
    
}

.num-square{
    position: absolute;
    top: 0px;
    left: 650px;
    height: 0;
    width: 0;
    border-top    : 50vh solid transparent;
    border-bottom : 50vh solid transparent;
    border-right  : 250px solid #730402;
}

.num-square-two{
    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    left: 900px;
    background-color: #730402;
}

.num-square-three{
    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 600px;
    top: 0;
    left: 1150px;
    background-color: #730402;

}

.num-square-img{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 1450px;
    height: 100vh;
    width: 100%;
    background-image: url(assets/gallery/oiuepp7bbx9vnleozxtv.jpg);
    background-size: cover;
}


/* PARTIE TEXTE */

.num-visitor{
    position: absolute;
    font-family: 'Bellota Text', cursive;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
    color: white;
    top: 10%;
    left: 20%;
    height: 200px;
    width: 400px;
}

.num-employees{
    position: absolute;
    font-family: 'Bellota Text', cursive;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
    color: white;
    bottom: 10%;
    left: 20%;
    height: 200px;
    width: 400px;
}

.num-age{
    z-index: 2;
    position: absolute;
    font-family: 'Bellota Text', cursive;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
    color: white;
    top: 35vh;
    left: 60%;
    height: 200px;
    width: 400px;
}

.num-representation{
    z-index: 2;
    position: absolute;
    font-family: 'Bellota Text', cursive;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
    color: white;
    top: 10%;
    left: 100%;
    height: 200px;
    width: 400px;
}

.num-filling{
    z-index: 2;
    position: absolute;
    font-family: 'Bellota Text', cursive;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
    color: white;
    bottom: 10%;
    left: 100%;
    height: 210px;
    width: 400px;
}

/* ---------------------------------------- PARTIE CREDITS ----------------------------------------------*/

.credits{
    position: absolute;
    top: 0;
    left: 2800px;
    height: 100vh;
    width: 100vw;
    background-color: #0C0C0C;
}

.cred-title{
    height: 100vh;
    display:flex;
    align-items:center;
    cursor: default;
}

.cred-title-h{
    font-family: 'Bellota Text', cursive;
    font-size: 130px;
    color: white;
    writing-mode: vertical-lr;
    transform:rotate(-180deg);
    text-shadow: 0.1em -0.05em rgba(255, 255, 255, 0.3);
}

.cred-box{
    position: absolute;
    top: 10%;
    left: 45%;
    height: 200px;
    width: 350px;
    background-color: #580302;
    box-shadow: -10px -10px #AA151B;
}

.cred-box-content{
    font-family: 'Bellota Text', cursive;
    color: white;
    font-size: 17px;
    padding: 20px 20px;
}

.cred-link{
    position: absolute;
    bottom: 10%;
    left: 25%;
    width: 850px;
    height: 300px;
    font-family: 'Bellota Text', cursive;
    color: white;
}

.cred-link-title{
    text-align: center;
    font-size: 35px;
}

.cred-link-dev{
    z-index: 2;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.cred-link-href{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.cred-link-name{
    font-size: 25px;
}


.cred-link-trait-one{
    position: absolute;
    top: 30%;
    left: 35%;
    height: 150px;
    width: 2px;
    background-color: #C5171B;
}

.cred-link-trait-two{
    position: absolute;
    top: 30%;
    left: 67%;
    height: 150px;
    width: 2px;
    background-color: #C5171B;
}


.navbar-menu {
    display: flex;
    /* width: 100%; */
    position: fixed;
    z-index: 10;
}

.navbar {
    width: 50px;
    height: 100vh;
    display: block;
    /* background-color: black; */
    padding: 10px;
}

.navbar h1 {
    transform: rotate(-90deg);
    /* margin-top: 44vh; */
    position: absolute;
    top: 50vh;
    left: -4.8vh;
    /* width: calc(79.30556vh - 3.30729vw); */
    width: 150px;
    color: #C89C12;
    /* text-transform: uppercase; */

}

.burger-menu-btn {
    background: none;
    border: none;
    text-align: center;
    outline: none;
    animation-duration: 1s;
    transition: all 0.3s ease-in-out;
    margin-left: 0.5vh;
    /* background-color: red; */
    
}

.burger-menu-btn span {
  background : #C89C12;
  width: 30px;
  height: 3px;
  display: block;
  margin-bottom: 5px;
  
  
}

.menu {
    width: 0%;
    height: 100vh;
    background-color: #000;
    display: none;
    
}

.menu-li {
    color: #C89C12;
    font-size: 8rem;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Bellota Text', cursive;
    font-weight: 900;
    transform: translateY(15vh);
    opacity: 0;
}


.progress-bar {
    background-color:  #C89C12;;
    height: 100vh;
    width: 3px;
}

.menu-content {
    margin: 40px;
    
}

.navbar {
    background-color: #000;
    
}

.burger-menu-btn.open {
    transform: rotate(90deg);
}

.galery {
    /* background-color:  #000; */
    width: 100vw;
    height: 100vh;
    
}

#draggableImg , #draggableImg2  {
    position: absolute;
    z-index: 1;
    transform: translateX(100px);
    text-align: center;
  }

  

  #draggableImg img, #draggableImg2 img { 
      width: 500px;
      transition: ease(1s);
  }

  
  #mydivheader {
    padding: 1px;
    cursor: move;
    z-index: 10;
  }

  




