@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

*{
    margin: 0;
    padding: 0;
    overflow-y: unset;
    scroll-behavior: smooth;
   
}

body {
    width: 100%;
    max-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

/* ########### SCROLL ########### */

/* ########### SECTION HISTOIRE ########### */

.history {
    display: inline;
}

.s3-hist {
    display: inline-flex;
    height: 100vh;
}

.s3-hist .title {
    display: flex;
    background-color: black;
    width: 40vw;
    align-items: center;
}

.s3-hist h2 {
    font: 250px/200px Bellota Text;
    text-align: center;
    font-weight: 100;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: -11px -9px #3E3E3E;
}

.hist-bg {
    display: flex;
    background-image: url(assets/bg/Paris_Oper_um_1900.jpg);
    background-position: center;
    background-size: cover;
    width: 90vw;
    filter: grayscale(0.6);
}

/* frise chronologique */

.s3-date {
    display: inline-flex;
    height: 100vh;
    width: 600%;
}

.s3-date .sect-date {
    display: inline-flex;
    width: 100vw;
}

.s3-date .date{
    display: flex;
    background-color: #C89C12;
    height: 100vh;
    width: 220px;
    z-index: 2;
}

.s3-date .date h2 {
    font: 160px/200px Bellota Text;
    font-weight: 100;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: white;
    position: relative;
    overflow: hidden;
    margin-bottom: 5vh;
}

.s3-date .date-bg {
    display: flex;
    height: 100vh;
    position: relative;
}

.date-bg img#bg-img-date  {
    object-fit: cover;
    position: relative;
    opacity: 50%;
    width: 100vw;
}

.date-bg .period {
    position: absolute;
    font: 30px/43px Amiri;
    margin-top: 80vh;
    margin-left: 8vw;
    text-align: end;
    color: white;
}

.date-bg .period .txt {
    position: relative;
}

.date-bg .period h2 {
    letter-spacing: 4px;
    color: #02020278;;
    text-shadow: 1px 1px #8e8481;
}

#date-red .date {
    background-color: #730402;
}

#date-red .period h2 {
    color: #730402;
}

/* wrapper img */

#wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    position: absolute;
    width: 100vh;
    height: 90vw;
}

#wrp-img {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    white-space: nowrap;
    padding-top: 7vh;
}

#wrapper .box-img {
    width: 60vw;
    height: 60vh;
    display: inline-block;
    position: relative;
    margin: 10px;
    margin-right: 10vw;
}

#wrapper .box-img img{
    height: 60vh;
    position: absolute;
    box-shadow: 8px 9px 13px 0px #0000004a;
}

#blank {
    width: 100vw !important;
    margin-right: 0 !important;
}

/* 1861 */
#OpC1 {
    width: 344px !important;
}

#OpC2 {
    width: 604px !important;
}

#OpC3 {
    width: 687px !important;
}

#OpC4 {
    width: 680px !important;
}

/* 1875 */
#OpI1 {
    width: 700px !important;
}

#OpI2 {
    width: 363px !important;
}

#OpI3 {
    width: 346px !important;
}

#OpI4 {
    width: 680px !important;
}

#OpI5 {
    width: 430px !important;
}

/* 1900 */
#OpPS1 {
    width: 693px !important;
}

#OpPS2 {
    width: 692px !important;
}

#OpPS3 {
    width: 636px !important;
}

#OpPS4 {
    width: 480px !important;
}

/* 1940 */
#OpO1 {
    width: 825px !important;
}

#OpO2 {
    width: 338px !important;
}

#OpO3 {
    width: 850px !important;
}

/* 1950 */
#OpT1 {
    width: 364px !important;
}

#OpT2 {
    width: 646px !important;
}

#OpT3 {
    width: 705px !important;
}

#OpT4 {
    width: 420px !important;
}

/* 2000 */
#OpN1 {
    width: 822px !important;
}

#OpN2 {
    width: 694px !important;
}

#OpN3 {
    width: 331px !important;
}

#OpN4 {
    width: 350px !important;
}